<!doctype html>
<html lang="en" dir="ltr" data-md-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select - SEE</title>
    <meta name="description" content="Documentation of SEE the web components library." />

    <link rel="stylesheet" href="../../main.css" />
    <script type="module" src="../../main.ts"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&icon_names=accessible_forward,add,archive,arrow_back,arrow_forward,arrow_upward,bookmark,close,code_blocks,dark_mode,delete,done,edit,favorite,format_bold,format_italic,format_textdirection_l_to_r,format_textdirection_r_to_l,format_underlined,light_mode,mail,more_vert,navigation,open_in_new,palette,pause,play_arrow,replay,reply,search,send,settings,snooze,stop,tab,videocam,width&display=block"
    />
  </head>
  <body>
    <main>
      <sw-toolbar></sw-toolbar>
      <h2>Select</h2>
<p>Selects allow users to choose one or more items from a list of values.</p>
<sw-demo>
  <md-outlined-select>
    <md-option value="apple">Apple</md-option>
    <md-option value="apricot">Apricot</md-option>
    <md-option value="banana">Banana</md-option>
    <md-option value="cherry">Cherry</md-option>
    <md-option value="grape">Grape</md-option>
    <md-option value="lemon">Lemon</md-option>
    <md-option value="mango">Mango</md-option>
    <md-option value="orange">Orange</md-option>
    <md-option value="strawberry">Strawberry</md-option>
    <md-option value="watermelon">Watermelon</md-option>
  </md-outlined-select>
</sw-demo>

    </main>
  </body>
</html>
