:root {
  --font-family: 'Poppins', poppins-fallback, poppins-fallback-android,
    sans-serif;
  font-display: swap;
}

@font-face {
  font-family: poppins-fallback;
  src: local('Arial');
  size-adjust: 60.85099821%;
  ascent-override: 164.3358416%;
  descent-override: 57.51754455%;
  line-gap-override: 16.43358416%;
}

@font-face {
  font-family: poppins-fallback-android;
  src: local('Roboto');
  size-adjust: 55.5193474%;
  ascent-override: 180.1173909%;
  descent-override: 63.04108683%;
  line-gap-override: 18.01173909%;
}

md-icon {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

:root[data-md-theme='light'] {
  --md-sys-color-background: #f9f9ff;
  --md-sys-color-on-background: #1a1c20;
  --md-sys-color-surface: #f9f9ff;
  --md-sys-color-surface-dim: #dad9e0;
  --md-sys-color-surface-bright: #f9f9ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f9;
  --md-sys-color-surface-container: #eeedf3;
  --md-sys-color-surface-container-high: #e8e7ee;
  --md-sys-color-surface-container-highest: #e2e2e8;
  --md-sys-color-on-surface: #1a1c20;
  --md-sys-color-surface-variant: #dfe2ee;
  --md-sys-color-on-surface-variant: #434750;
  --md-sys-color-inverse-surface: #2f3035;
  --md-sys-color-inverse-on-surface: #f0f0f6;
  --md-sys-color-outline: #737781;
  --md-sys-color-outline-variant: #c3c6d2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #345ea0;
  --md-sys-color-primary: #345ea0;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #9fc0ff;
  --md-sys-color-on-primary-container: #003067;
  --md-sys-color-inverse-primary: #abc7ff;
  --md-sys-color-secondary: #515f7a;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #d6e2ff;
  --md-sys-color-on-secondary-container: #3a4862;
  --md-sys-color-tertiary: #814989;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #eaa8f0;
  --md-sys-color-on-tertiary-container: #4e1957;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
  color-scheme: light;
}

:root[data-md-theme='dark'] {
  --md-sys-color-background: #121318;
  --md-sys-color-on-background: #e2e2e8;
  --md-sys-color-surface: #121318;
  --md-sys-color-surface-dim: #121318;
  --md-sys-color-surface-bright: #37393e;
  --md-sys-color-surface-container-lowest: #0c0e12;
  --md-sys-color-surface-container-low: #1a1c20;
  --md-sys-color-surface-container: #1e2024;
  --md-sys-color-surface-container-high: #282a2f;
  --md-sys-color-surface-container-highest: #333539;
  --md-sys-color-on-surface: #e2e2e8;
  --md-sys-color-surface-variant: #434750;
  --md-sys-color-on-surface-variant: #c3c6d2;
  --md-sys-color-inverse-surface: #e2e2e8;
  --md-sys-color-inverse-on-surface: #2f3035;
  --md-sys-color-outline: #8d909b;
  --md-sys-color-outline-variant: #434750;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #abc7ff;
  --md-sys-color-primary: #c9daff;
  --md-sys-color-on-primary: #002f65;
  --md-sys-color-primary-container: #8ab1f8;
  --md-sys-color-on-primary-container: #002451;
  --md-sys-color-inverse-primary: #345ea0;
  --md-sys-color-secondary: #b9c7e6;
  --md-sys-color-on-secondary: #233049;
  --md-sys-color-secondary-container: #34425c;
  --md-sys-color-on-secondary-container: #cad8f9;
  --md-sys-color-tertiary: #fdc9ff;
  --md-sys-color-on-tertiary: #4d1957;
  --md-sys-color-tertiary-container: #db9ae1;
  --md-sys-color-on-tertiary-container: #410b4b;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  color-scheme: dark;
}

:root {
  --md-sys-typography-display-large: 400 3.5625rem / 4rem var(--font-family);
  --md-sys-typography-display-medium: 400 2.8125rem / 3.5rem var(--font-family);
  --md-sys-typography-display-small: 400 2.25rem / 3rem var(--font-family);
  --md-sys-typography-headline-large: 400 2.5rem / 3.125rem var(--font-family);
  --md-sys-typography-headline-medium: 400 2.25rem / 2.75rem var(--font-family);
  --md-sys-typography-headline-small: 400 2rem / 2.5rem var(--font-family);
  --md-sys-typography-title-large: 400 1.375rem / 1.75rem var(--font-family);
  --md-sys-typography-title-medium: 500 1rem / 1.25rem var(--font-family);
  --md-sys-typography-title-small: 500 0.875rem / 1.125rem var(--font-family);
  --md-sys-typography-label-large: 500 0.875rem / 1.25rem var(--font-family);
  --md-sys-typography-label-medium: 500 0.75rem / 1rem var(--font-family);
  --md-sys-typography-label-small: 500 0.6875rem / 0.875rem var(--font-family);
  --md-sys-typography-body-large: 400 1rem / 1.5rem var(--font-family);
  --md-sys-typography-body-medium: 400 0.875rem / 1.25rem var(--font-family);
  --md-sys-typography-body-small: 400 0.75rem / 1rem var(--font-family);

  --md-sys-motion-exp-spatial-fast: cubic-bezier(0.42, 1.67, 0.21, 0.9);
  --md-sys-motion-exp-spatial-fast-duration: 350ms;
  --md-sys-motion-exp-spatial-default: cubic-bezier(0.38, 1.21, 0.22, 1);
  --md-sys-motion-exp-spatial-default-duration: 500ms;
  --md-sys-motion-exp-spatial-slow: cubic-bezier(0.39, 1.29, 0.35, 0.98);
  --md-sys-motion-exp-spatial-slow-duration: 650ms;

  --md-sys-motion-exp-effects-fast: cubic-bezier(0.31, 0.94, 0.34, 1);
  --md-sys-motion-exp-effects-fast-duration: 150ms;
  --md-sys-motion-exp-effects-default: cubic-bezier(0.34, 0.8, 0.34, 1);
  --md-sys-motion-exp-effects-default-duration: 200ms;
  --md-sys-motion-exp-effects-slow: cubic-bezier(0.34, 0.88, 0.34, 1);
  --md-sys-motion-exp-effects-slow-duration: 300ms;

  --md-sys-motion-std-spatial-fast: cubic-bezier(0.27, 1.06, 0.18, 1);
  --md-sys-motion-std-spatial-fast-duration: 350ms;
  --md-sys-motion-std-spatial-default: cubic-bezier(0.27, 1.06, 0.18, 1);
  --md-sys-motion-std-spatial-default-duration: 500ms;
  --md-sys-motion-std-spatial-slow: cubic-bezier(0.27, 1.06, 0.18, 1);
  --md-sys-motion-std-spatial-slow-duration: 750ms;

  --md-sys-motion-std-effects-fast: cubic-bezier(0.31, 0.94, 0.34, 1);
  --md-sys-motion-std-effects-fast-duration: 150ms;
  --md-sys-motion-std-effects-default: cubic-bezier(0.34, 0.8, 0.34, 1);
  --md-sys-motion-std-effects-default-duration: 200ms;
  --md-sys-motion-std-effects-slow: cubic-bezier(0.34, 0.88, 0.34, 1);
  --md-sys-motion-std-effects-slow-duration: 300ms;

  --md-sys-elevation-level-0: 0;
  --md-sys-elevation-level-1: 1;
  --md-sys-elevation-level-2: 3;
  --md-sys-elevation-level-3: 6;
  --md-sys-elevation-level-4: 8;
  --md-sys-elevation-level-5: 12;
  --md-sys-elevation-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
}
body {
  accent-color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  font-family: var(--font-family);
}
::selection {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

a {
  color: var(--md-sys-color-primary);
}
a:not(:hover):not(:focus-visible) {
  text-decoration: none;
}

html {
  scroll-padding-block-start: 0;
}

body {
  font: var(--md-sys-typography-body-large);
  margin: 0;
  min-height: 100dvh;
}

main {
  background-color: var(--md-sys-color-surface);
  min-height: 100dvh;
  overflow-y: auto;
  flex-grow: 1;
  max-width: min(100%, 980px);
  padding-inline: 32px;
  padding-top: 32px;
  padding-bottom: 96px;
}

@media (max-width: 600px) {
  main {
    padding-top: 16px;
    padding-inline: 16px;
  }
}

.title {
  margin-bottom: 8px;
}
.subtitle {
  margin-top: 0;
  font: var(--md-sys-typography-title-small);
}

h1 {
  font: var(--md-sys-typography-headline-medium);
}
h2 {
  font: var(--md-sys-typography-headline-small);
}
h3 {
  font: var(--md-sys-typography-title-large);
}
h4 {
  font: var(--md-sys-typography-title-medium);
}

code {
  background-color: var(--md-sys-color-surface-variant);
  border-radius: 2px;
  color: var(--md-sys-color-on-surface-variant);
  font: var(--md-sys-typography-body-large);
  margin-inline: 2px;
  outline: 2px solid var(--md-sys-color-surface-variant);
  padding-inline: 2px;
}

a:has(md-button),
a:has(md-fab),
a:has(md-icon-button) {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

label:has(md-checkbox) {
  align-items: center;
  display: inline-flex;
  font: var(--md-sys-typography-label-large);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
label:has(md-checkbox:disabled) {
  pointer-events: none;
}
label:has(md-switch),
label:has(md-filled-select),
label:has(md-outlined-select),
label:has(md-filled-text-field),
label:has(md-outlined-text-field) {
  display: inline-flex;
  font: var(--md-sys-typography-label-large);
  gap: 8px;
  justify-content: space-between;
  place-items: center;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
label:has(md-switch:disabled) {
  pointer-events: none;
}
