<!doctype html>
<html lang="en" dir="ltr" data-md-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button - SEE</title>
    <meta name="description" content="Documentation of SEE the web components library." />

    <link rel="stylesheet" href="../../main.css" />
    <script type="module" src="../../main.ts"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&icon_names=accessible_forward,add,archive,arrow_back,arrow_forward,arrow_upward,bookmark,close,code_blocks,dark_mode,delete,done,edit,favorite,format_bold,format_italic,format_textdirection_l_to_r,format_textdirection_r_to_l,format_underlined,light_mode,mail,more_vert,navigation,open_in_new,palette,pause,play_arrow,replay,reply,search,send,settings,snooze,stop,tab,videocam,width&display=block"
    />
  </head>
  <body>
    <main>
      <sw-toolbar></sw-toolbar>
      <h2>Button</h2>
<h3>Interactive Demo</h3>
<sw-demo hascontrols>
  <md-button id="button-interactive">
    <md-icon slot="icon">search</md-icon>
    <span>Controlled</span>
  </md-button>
  <label slot="controls" for="button-properties-label">
    Label
    <md-outlined-text-field id="button-properties-label" value="Controlled"></md-outlined-text-field>
  </label>
  <label slot="controls" for="button-properties-size">
    Size
    <md-outlined-select name="size" id="button-properties-size" value="small">
      <md-option value="xsmall">xsmall</md-option>
      <md-option value="small">small</md-option>
      <md-option value="medium">medium</md-option>
      <md-option value="large">large</md-option>
      <md-option value="xlarge">xlarge</md-option>
    </md-outlined-select>
  </label>
  <label slot="controls" for="button-properties-shape">
    Shape
    <md-outlined-select name="shape" id="button-properties-shape" value="rounded">
      <md-option value="rounded">rounded</md-option>
      <md-option value="square">square</md-option>
    </md-outlined-select>
  </label>
  <label slot="controls" for="button-properties-variant">
    Variant
    <md-outlined-select name="variant" id="button-properties-variant" value="filled">
      <md-option value="filled">filled</md-option>
      <md-option value="tonal">tonal</md-option>
      <md-option value="elevated">elevated</md-option>
      <md-option value="outlined">outlined</md-option>
      <md-option value="text">text</md-option>
    </md-outlined-select>
  </label>
  <label slot="controls" for="button-properties-color">
    Color
    <md-outlined-select name="color" id="button-properties-color" value="primary">
      <md-option value="primary">primary</md-option>
      <md-option value="secondary">secondary</md-option>
      <md-option value="tertiary">tertiary</md-option>
    </md-outlined-select>
  </label>
  <label slot="controls" for="button-properties-disabled">
    Disabled
    <md-switch id="button-properties-disabled"></md-switch>
  </label>
  <label slot="controls" for="button-properties-trailingIcon">
    Trailing Icon
    <md-switch id="button-properties-trailingIcon"></md-switch>
  </label>
</sw-demo>
<p>Note: <code>color</code> is not part of the official Material You. Color of tonal buttons is always secondary container. Color of outlined buttons is always on outline variant.</p>
<h3>Types</h3>
<sw-demo>
  <md-button>Filled</md-button>
  <md-button variant="tonal">Tonal</md-button>
  <md-button class="buttons" variant="elevated">
    <md-icon slot="icon">search</md-icon>
    Elevated
  </md-button>
  <md-button variant="outlined">Outlined</md-button>
  <md-button variant="text">Text</md-button>
</sw-demo>
<h3>Usage</h3>
<sw-demo>
  <md-button variant="outlined">Back</md-button>
  <md-button>Complete</md-button>
</sw-demo>
<h4>Icon</h4>
<sw-demo>
  <md-button variant="tonal">
    Send
    <md-icon slot="icon">send</md-icon>
  </md-button>
  <md-button variant="text" trailingicon>
    <md-icon slot="icon">open_in_new</md-icon>
    Open
  </md-button>
</sw-demo>
<h3>Toggle Button</h3>
<h4>Interactive Demo</h4>
<sw-demo hascontrols>
  <md-button-toggle id="button-toggle-interactive">
    <md-icon slot="icon">bookmark</md-icon>
    <md-icon slot="icon-checked" style="font-variation-settings: 'FILL' 1">bookmark</md-icon>
    <span>Bookmark</span>
    <span slot="checked">Bookmarked</span>
  </md-button-toggle>
  <label slot="controls" for="button-toggle-properties-variant">
    Variant
    <md-outlined-select name="variant" id="button-toggle-properties-variant" value="filled">
      <md-option value="filled">filled</md-option>
      <md-option value="tonal">tonal</md-option>
      <md-option value="elevated">elevated</md-option>
      <md-option value="outlined">outlined</md-option>
    </md-outlined-select>
  </label>
  <label slot="controls" for="button-toggle-properties-shape">
    Shape
    <md-outlined-select name="shape" id="button-toggle-properties-shape" value="rounded">
      <md-option value="rounded">rounded</md-option>
      <md-option value="square">square</md-option>
    </md-outlined-select>
  </label>
  <label slot="controls" for="button-toggle-properties-size">
    Size
    <md-outlined-select name="size" id="button-toggle-properties-size" value="small">
      <md-option value="xsmall">xsmall</md-option>
      <md-option value="small">small</md-option>
      <md-option value="medium">medium</md-option>
      <md-option value="large">large</md-option>
      <md-option value="xlarge">xlarge</md-option>
    </md-outlined-select>
  </label>
  <label slot="controls" for="button-toggle-properties-disabled">
    Disabled
    <md-switch id="button-toggle-properties-disabled"></md-switch>
  </label>
</sw-demo>
<h4>Usage</h4>
<sw-demo>
  <div style="display: flex; align-items: center; justify-content: center; gap: 8px;">
    <md-icon-button variant="tonal" width="narrow" aria-label="Pause">
      <md-icon>pause</md-icon>
    </md-icon-button>
    <md-button-toggle size="medium" checked>
      <span>Stop</span>
      <span slot="checked">Start</span>
    </md-button-toggle>
    <md-icon-button variant="outlined" width="narrow" aria-label="Restart">
      <md-icon>replay</md-icon>
    </md-icon-button>
  </div>
</sw-demo>

    </main>
  </body>
</html>
