<!doctype html>
<html lang="en" dir="ltr" data-md-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Switch - SEE</title>
    <meta name="description" content="Documentation of SEE the web components library." />

    <link rel="stylesheet" href="../../main.css" />
    <script type="module" src="../../main.ts"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&icon_names=accessible_forward,add,archive,arrow_back,arrow_forward,arrow_upward,bookmark,close,code_blocks,dark_mode,delete,done,edit,favorite,format_bold,format_italic,format_textdirection_l_to_r,format_textdirection_r_to_l,format_underlined,light_mode,mail,more_vert,navigation,open_in_new,palette,pause,play_arrow,replay,reply,search,send,settings,snooze,stop,tab,videocam,width&display=block"
    />
  </head>
  <body>
    <main>
      <sw-toolbar></sw-toolbar>
      <h2>Switch</h2>
<p>Switches are the preferred way to adjust settings. They're used to control binary options – think On/Off or True/False.</p>
<h3>Interactive Demo</h3>
<sw-demo hascontrols>
  <label for="switch-interactive">
    <md-switch id="switch-interactive"></md-switch>
    Controlled
  </label>
  <label slot="controls" for="switch-properties-checked">
    Checked
    <md-switch id="switch-properties-checked"></md-switch>
  </label>
  <label slot="controls" for="switch-properties-disabled">
    Disabled
    <md-switch id="switch-properties-disabled"></md-switch>
  </label>
  <label slot="controls" for="switch-properties-icons">
    Icons
    <md-switch id="switch-properties-icons"></md-switch>
  </label>
  <label slot="controls" for="switch-properties-checkedIconOnly">
    Checked Icon Only
    <md-switch id="switch-properties-checkedIconOnly"></md-switch>
  </label>
</sw-demo>
<h3>Usage</h3>
<p>Switches may be standalone or pre-checked.</p>
<sw-demo>
  <md-switch aria-label="unchecked switch"></md-switch>
  <md-switch aria-label="pre-checked switch" checked></md-switch>
</sw-demo>
<h4>Icons</h4>
<p>Icons can be used to visually emphasize the switch's selected state. Switches can choose to display both icons or only selected icons.</p>
<sw-demo>
  <md-switch icons></md-switch>
  <md-switch icons checked></md-switch>
<p><md-switch icons checkedicononly></md-switch>
<md-switch icons checkedicononly checked></md-switch>
</sw-demo></p>
<h4>Label</h4>
<p>Associate a label with a checkbox using the <code>&lt;label&gt;</code> element.</p>
<sw-demo>
  <label>
    Wi-Fi
    <md-switch checked></md-switch>
  </label>
<p><label for="switch-bluetooth">Bluetooth</label>
<md-switch id="switch-bluetooth"></md-switch>
</sw-demo></p>
<h3>Accessibility</h3>
<p>Add an <code>aria-label</code> attribute to switches without labels or switches whose labels need to be more descriptive.</p>
<sw-demo>
  <md-switch aria-label="Lights"></md-switch>
  <label>
    All
    <md-switch aria-label="All notifications"></md-switch>
  </label>
</sw-demo>
<p>Note: switches are not automatically labelled by <code>&lt;label&gt;</code> elements and always need an <code>aria-label</code>.</p>

    </main>
  </body>
</html>
