<!doctype html>
<html lang="en" dir="ltr" data-md-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAB - SEE</title>
    <meta name="description" content="Documentation of SEE the web components library." />

    <link rel="stylesheet" href="../../main.css" />
    <script type="module" src="../../main.ts"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&icon_names=accessible_forward,add,archive,arrow_back,arrow_forward,arrow_upward,bookmark,close,code_blocks,dark_mode,delete,done,edit,favorite,format_bold,format_italic,format_textdirection_l_to_r,format_textdirection_r_to_l,format_underlined,light_mode,mail,more_vert,navigation,open_in_new,palette,pause,play_arrow,replay,reply,search,send,settings,snooze,stop,tab,videocam,width&display=block"
    />
  </head>
  <body>
    <main>
      <sw-toolbar></sw-toolbar>
      <h2>Floating action button (FAB)</h2>
<h3>Types</h3>
<sw-demo>
  <md-fab color="primary" aria-label="Accessibility">
    <md-icon>accessible_forward</md-icon>
  </md-fab>
  <md-fab size="small" color="tertiary" aria-label="Edit">
    <md-icon>edit</md-icon>
  </md-fab>
  <md-fab size="large" aria-label="Color palette">
    <md-icon>palette</md-icon>
  </md-fab>
</sw-demo>
<h4>Extended FAB</h4>
<sw-demo>
  <md-fab>
    <md-icon>navigation</md-icon>
    <span slot="label">Navigation</span>
  </md-fab>
  <md-fab><span slot="label">Reroute</span></md-fab>
</sw-demo>
<h3>Usage</h3>
<p>FABs should have an icon, such as a font <code>md-icon</code>, an <code>svg</code>, or an <code>img</code>.</p>
<sw-demo>
  <md-fab aria-label="Edit">
    <md-icon>edit</md-icon>
  </md-fab>
</sw-demo>
<h4>Lowered</h4>
<p>FABs can be set to a lower elevation with the <code>lowered</code> attribute.</p>
<sw-demo>
  <md-fab lowered aria-label="Edit">
    <md-icon>edit</md-icon>
  </md-fab>
</sw-demo>
<h4>Colors</h4>
<p>FAB colors may be changed with the <code>color</code> attribute. It can be set to &quot;surface&quot; (default), &quot;primary&quot;, &quot;secondary&quot;, or &quot;tertiary&quot;.</p>
<sw-demo>
  <md-fab color="primary" aria-label="Edit">
    <md-icon>edit</md-icon>
  </md-fab>
  <md-fab color="secondary" aria-label="Edit">
    <md-icon>edit</md-icon>
  </md-fab>
  <md-fab color="tertiary" aria-label="Edit">
    <md-icon>edit</md-icon>
  </md-fab>
</sw-demo>
<h4>Sizes</h4>
<p>FABs may be small, medium (default), or large by setting the <code>size</code> attribute.</p>
<sw-demo>
  <md-fab size="small" aria-label="Edit">
    <md-icon>edit</md-icon>
  </md-fab>
  <md-fab aria-label="Edit">
    <md-icon>edit</md-icon>
  </md-fab>
  <md-fab size="large" aria-label="Edit">
    <md-icon>edit</md-icon>
  </md-fab>
</sw-demo>
<h3>Accessibility</h3>
<p>Icon-only FABs must include an <code>aria-label</code> that describes its action. Otherwise if <code>aria-label</code> is not provided, the FAB will default to announcing its visible contents.</p>
<p>Extended FABs use their <code>label</code> for accessibility. Add an <code>aria-label</code> for additional context if needed. By supplying the <code>label</code> attribute, the extended FAB will make sure that the icon is not announced.</p>

    </main>
  </body>
</html>
