<!doctype html>
<html lang="en" dir="ltr" data-md-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toolbar - SEE</title>
    <meta name="description" content="Documentation of SEE the web components library." />

    <link rel="stylesheet" href="../../main.css" />
    <script type="module" src="../../main.ts"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&icon_names=accessible_forward,add,archive,arrow_back,arrow_forward,arrow_upward,bookmark,close,code_blocks,dark_mode,delete,done,edit,favorite,format_bold,format_italic,format_textdirection_l_to_r,format_textdirection_r_to_l,format_underlined,light_mode,mail,more_vert,navigation,open_in_new,palette,pause,play_arrow,replay,reply,search,send,settings,snooze,stop,tab,videocam,width&display=block"
    />
  </head>
  <body>
    <main>
      <sw-toolbar></sw-toolbar>
      <h2>Toolbar</h2>
<p>Toolbars display frequently used actions relevant to the current page or context and group controls into a compact surface.</p>
<h3>Types</h3>
<sw-demo>
  <md-toolbar>
    <md-icon-button aria-label="Back">
      <md-icon>arrow_back</md-icon>
    </md-icon-button>
    <md-icon-button aria-label="Forward">
      <md-icon>arrow_forward</md-icon>
    </md-icon-button>
    <md-icon-button size="small" variant="filled" shape="square" aria-label="New tab">
      <md-icon>add</md-icon>
    </md-icon-button>
    <md-icon-button aria-label="Tabs">
      <md-icon>tab</md-icon>
    </md-icon-button>
    <md-icon-button aria-label="More options">
      <md-icon>more_vert</md-icon>
    </md-icon-button>
  </md-toolbar>
</sw-demo>
<h4>Floating</h4>
<sw-demo>
  <md-toolbar type="floating">
    <md-icon-button-toggle variant="tonal" checked>
      <md-icon aria-label="Unchecked">format_bold</md-icon>
      <md-icon slot="checked" aria-label="Checked">format_bold</md-icon>
    </md-icon-button-toggle>
    <md-icon-button-toggle variant="tonal">
      <md-icon aria-label="Unchecked">format_italic</md-icon>
      <md-icon slot="checked" aria-label="Checked">format_italic</md-icon>
    </md-icon-button-toggle>
    <md-icon-button-toggle variant="tonal">
      <md-icon aria-label="Unchecked">format_underlined</md-icon>
      <md-icon slot="checked" aria-label="Checked">format_underlined</md-icon>
    </md-icon-button-toggle>
    <md-button>Share</md-button>
  </md-toolbar>
</sw-demo>
<h4>Vertical (Floating Only)</h4>
<sw-demo>
  <md-toolbar type="floating" orientation="vertical">
    <md-icon-button-toggle variant="tonal">
      <md-icon aria-label="Unchecked">format_bold</md-icon>
      <md-icon slot="checked" aria-label="Checked">format_bold</md-icon>
    </md-icon-button-toggle>
    <md-icon-button-toggle variant="tonal">
      <md-icon aria-label="Unchecked">format_italic</md-icon>
      <md-icon slot="checked" aria-label="Checked">format_italic</md-icon>
    </md-icon-button-toggle>
    <md-icon-button-toggle variant="tonal">
      <md-icon aria-label="Unchecked">format_underlined</md-icon>
      <md-icon slot="checked" aria-label="Checked">format_underlined</md-icon>
    </md-icon-button-toggle>
  </md-toolbar>
</sw-demo>
<h4>With FAB</h4>
<sw-demo>
  <md-toolbar type="floating">
    <md-icon-button id="toolbar-archive">
      <md-icon>archive</md-icon>
    </md-icon-button>
    <md-tooltip for="toolbar-archive">Archive</md-tooltip>
    <md-icon-button id="toolbar-delete">
      <md-icon>delete</md-icon>
    </md-icon-button>
    <md-tooltip for="toolbar-delete">Delete</md-tooltip>
    <md-icon-button id="toolbar-mail">
      <md-icon>mail</md-icon>
    </md-icon-button>
    <md-tooltip for="toolbar-mail">Mail</md-tooltip>
    <md-icon-button id="toolbar-snooze">
      <md-icon>snooze</md-icon>
    </md-icon-button>
    <md-tooltip for="toolbar-snooze">Snooze</md-tooltip>
    <md-icon-button id="toolbar-more-mailboxes">
      <md-icon>more_vert</md-icon>
    </md-icon-button>
    <md-tooltip for="toolbar-more-mailboxes">More mailboxes</md-tooltip>
    <md-fab slot="fab" color="tertiary" id="toolbar-reply">
      <md-icon>reply</md-icon>
    </md-fab>
    <md-tooltip for="toolbar-reply">Reply</md-tooltip>
  </md-toolbar>
</sw-demo>

    </main>
  </body>
</html>
